.meals-list {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-in forwards;
    text-align: start;
}

.meals-list li {
    list-style: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-items: start;
}

@keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }