.headerButtons {
    display: flex;
}

.button {
    margin: 10px;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #537FE7;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.button span {
    margin-left: 10px;
}

.icon {
    width: 25px;
}

.button:hover,
.button:active {
    background-color: #274a6e;
}

.badge {
    background-color: #274a6e;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
    background-color: #537FE7;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

select {
    margin: 10px;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #537FE7;
    color: white;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    outline: none;
}

select:hover {
    background-color: #537FE7;
}

select option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    background-color: #fff;
    color: #000;
}

select option:checked {
    background-color: #537FE7;
    color: #fff;
}